<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <!-- <% include ../partials/nav.ejs %> -->

  <div class="jumbotron text-center">
    <div class="container">
      </a>
      <h1>Postal Calculator</h1>
      <p>Please fill out the form below to calculate your cost</p>
    </div>
  </div>
  <div class="container">
    <form action="/cost" method="GET">
      <div class="form-group">
        <label for="weight">Weight - Must be less than 13 (lbs):</label>
        <input type="number" step="any" min="0" max="13" class="form-control" name="weight" placeholder="Enter weight">
      </div>
      <div class="form-group">
        <label for="packageType">State</label>
        <select name="packageType" class="form-control">
          <option disabled selected>Choose Package Type...</option>
          <option value="1">Letters (Stamped)</option>
          <option value="2">Letters (Metered)</option>
          <option value="3">Large Envelopes (Flats)</option>
          <option value="4">First-Class Package Service—Retail</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</body>

</html>